.block#text
  .content
    %h2.title Message Queues
    .inner
      %table.table
        %tr
          %th.first Name
          %th Size
          %th Message on top
          %th.last &nbsp;
        - @queues.each do |q|
          %tr{:class => cycle("odd", "even")}
            %td= link_to q.name, admin_message_queue_path(q)
            %td= q.size
            %td= q.peek
            %td.last
              = link_to "Send", edit_admin_message_queue_path(q)
              = link_to "Show", admin_message_queue_path(q)
