.block
  .secondary-navigation
  .content
    .inner
      %p
        %b Messages:
        = @mq.size
      .inner
        - m = @mq.peek
        %p
          %b Message on top ID:
          = m.id unless m.nil?
        %p
          %b Message on top received at:
          = m.received_at unless m.nil?
        %p{:style => "width: 100%; overflow: hidden"}
          %b Message on top content:
          = m
      .wat-cf
        = link_to image_tag("web-app-theme/icons/cross.png", :alt => "Clear") + " Clear all messages", admin_message_queue_path(@mq), :method => "delete", :class => "button"
