.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to "#{t("web-app-theme.list", :default => "List")}", admin_receipts_path
  .content
    %h2.title
      = t("web-app-theme.all", :default => "All")
      Receipts
    .inner
      %table.table
        %tr
          %th.first ID
          %th Image
          %th User
          %th Created at
          %th Store Name
          %th.last &nbsp;
        - @receipts.each do |receipt|
          %tr{:class => cycle("odd", "even"), :id => "receipt_line_#{receipt.id}"}
            %td= receipt.id
            %td
              = link_to image_tag(receipt.img_url(:thumb), :height => 100, :width => 100), admin_receipt_path(receipt)
              .img_details
                = number_to_human_size receipt.img_file_size
            %td
              -if receipt.user 
                =link_to receipt.user.email, [:admin, receipt.user]
              -else
                No one
            %td= receipt.created_at
            %td= receipt.extracted_store_name
            %td.last
              = link_to "#{t("web-app-theme.show", :default => "Show")}", admin_receipt_path(receipt)
              |
              = link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_admin_receipt_path(receipt) |
              = link_to "#{t("web-app-theme.delete", :default => "Delete")}", admin_receipt_path(receipt), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :remote => true
      .actions-bar.wat-cf
        .actions
        = will_paginate @receipts
- content_for :sidebar, render(:partial => 'sidebar')
