<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<h2>receipts:</h2>
<% @user.receipts.each do |r| %>
  <p>
  <%= r.description %>
  <%= link_to 'Delete Receipt', [r.user, r], :method => :delete %>
  </p>
  <p>
    <%= link_to image_tag(r.img_url(:thumb)), edit_receipt_path(r)  %>
  </p>
<% end %>

<h2>Add another receipt:</h2>
<%= form_for([@user, @user.receipts.build], :html => {:multipart => true}) do |f| %>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :img %><br />
    <%= f.file_field :img %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
