<%= form_for(@receipt, :html => { :multipart => true }) do |f| %>
  <% if @receipt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@receipt.errors.count, "error") %> prohibited this receipt from being saved:</h2>

      <ul>
      <% @receipt.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <% unless (@receipt.img.url.nil? || @receipt.img.url.end_with?("missing.png")) %>
    <div class="field">
      <%= f.label :img %><br />
      <%= f.file_field :img %>
      <%= image_tag @receipt.img.url %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
