<h1>Listing receipts</h1>

<table>
  <tr>
    <th>User</th>
    <th>Description</th>
    <th>Img</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @receipts.each do |receipt| %>
  <tr>
    <td>
      <% if receipt.user %>
        <%= link_to receipt.user.username, receipt.user %>
      <% else %>
        no one
      <% end %>
    </td>
    <td><%= receipt.description %></td>
    <td><%= image_tag receipt.img_url(:thumb) %></td>
    <td><%= link_to 'Show', receipt %></td>
    <td><%= link_to 'Edit', edit_receipt_path(receipt) %></td>
    <td><%= link_to 'Destroy', receipt, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

