.block
  .content
    %h2.title
      = t("web-app-theme.all", :default => "All")
      Receipts
    .inner
      %table.table
        %tr
          %th.first ID
          %th Image
          %th= t("web-app-theme.created_at", :default => "Created at")
          %th.last &nbsp;
        - @receipts.each do |receipt|
          %tr{:class => cycle("odd", "even"), :id => "receipt_line_#{receipt.id}"}
            %td= receipt.id
            %td= link_to image_tag(receipt.img_url(:thumb), :height => '100', :width => '100'), receipt_path(receipt)
            %td= receipt.created_at.strftime("%m/%d/%Y %I:%M %p")
            %td.last
              = link_to "#{t("web-app-theme.show", :default => "Show")}", receipt_path(receipt)
              |
              \#{link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_receipt_path(receipt)} 
              |
              \#{link_to "#{t("web-app-theme.delete", :default => "Delete")}", receipt_path(receipt), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :remote => true}
      .actions-bar.wat-cf
        .actions
        = will_paginate @receipts
- content_for :sidebar, render(:partial => 'sidebar')
