<p id="notice"><%= notice %></p>

<% if @receipt.user %>
  <p>User: <%= link_to @receipt.user.email, @receipt.user %></p>
<% end %>
<p>
  Description: <%= @receipt.description %>
</p>
<p>
  <%= image_tag @receipt.img_url %>
</p>

<%= link_to 'Edit', edit_receipt_path(@receipt) %> |
<%= link_to 'Back', receipts_path %>
