!!!
%html
  %head
    %title Recipitor
    = include_stylesheets :all, :media => 'all'
    = include_javascripts :all
    = csrf_meta_tag
  %body
    #container
      #header
        %h1
          %a{:href => "/"} Recipitor
        #user-navigation
          %ul.wat-cf
            -if user_signed_in?
              %li
                = link_to "Hi #{current_user.email}", "#"
              %li
                = link_to t("web-app-theme.logout", :default => "Logout"), '/logout'
            -else
              -#%li
                = link_to t("web-app-theme.signup", :default => "Signup"), new_admin_user_registration_path
              %li
                = link_to t("web-app-theme.login", :default => "Login"), '/login'
        #main-navigation
          %ul.wat-cf
            %li{ :class => (params[:controller] == "home" ? "first active" : "first") }
              = link_to "Home", root_path
            -if can? :view, Receipt
              %li{ :class => (params[:controller] == "receipts" && params[:action] == "index" ? "active" : nil) }
                = link_to "My Receipts", receipts_path
            -if can? :create, Receipt
              %li{ :class => (params[:controller] == "receipts" && params[:action] == "new" ? "active" : nil) }
                = link_to "New Receipt", new_receipt_path
            -if can? :admin, :all
              %li{ :class => "last" }
                = link_to "Admin", admin_receipts_path
            
      #wrapper.wat-cf
        .flash
          - flash.each do |type, message|
            %div{:class => "message #{type}"}
              %p= message
        #main
          = yield
          #footer
            .block
              %p
                Copyright &copy; #{Time.now.year} Recipitor.
        #sidebar
          = yield :sidebar
